Regression/TaxiFarePrediction/yellow_tripdata_2018-12.csv
BinaryClassification/FraudDetection/creditcard.csv
MulticlassClassification/FlagToxicComments/test.csv
MulticlassClassification/FlagToxicComments/train.csv
BinaryClassification/HeartDiseasePrediction/processed.cleveland.data.csv
LoadingData/CaliforniaHousing/data.png
*.csv
